<!DOCTYPE html>
<html>

<head>
    <title>Chat App - User Details</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        /* Global Styles */
        body {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
            margin: 0;
            padding: 0;
            background: white
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            top: 7rem;
        }


        .text-box {

       
            border: 3px solid #000;
            overflow: hidden;
            display: flex;
          

        }

        .travel-text {
            display: inline-block;
            animation: travelAnimation 8s linear infinite;
            white-space: nowrap;
        }

        @keyframes travelAnimation {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translateX(-100%);
            }
        }

        .form-container {
            margin-bottom: 20px;
        }

        .text {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .image-container {
            width: 100%;
            height: 100%;
        }



        .image-container img {
            width: 100%;
            height: 100%;
        }

        /* Media Queries */
        @media (max-width: 768px) {
            .text-box {
                margin-bottom: 10px;
            }

            .travel-text {
                font-size: 20px;
            }

            .text {
                font-size: 16px;
            }
        }

        /* Form Validation Styles */
        .form-error {
            color: red;
            margin-top: 5px;
        }

        span[id="name-error"],
        span[id="email-error"],
        span[id="mobile-error"] {
            display: flex;
            align-items: left;
            flex-direction: column;
            color: red;
        }

        @media (max-width: 575px) {
            .col-lg-6 {
                margin-bottom: 1.5rem;
            }

            .image-container {
                text-align: center;
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6  p-5"style="background-color: #e3e6e9!important;">
                <div class="text-box">
                    <span class="travel-text">Welcome to the New Way of Communication</span>
                </div>

                <div class="form-container">
                    <p class="text">Enter the Details to Start Chat</p>

                    <form action="/createUser" method="POST" onsubmit="return validateForm()">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" id="name" name="name" class="form-control" onkeyup="validateName()"
                                required>
                            <span id="name-error"></span>
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label">Receiver Email</label>
                            <input type="email" class="form-control" id="email" name="email" onkeyup="validateEmail()">
                            <span id="email-error"></span>
                        </div>

                        <div class="mb-3">
                            <label for="mobile" class="form-label">Receiver Mobile</label>
                            <input type="tel" name="mobile" id="mobile" class="form-control" onkeyup="validateMobile()"
                                required>
                            <span id="mobile-error"></span>
                        </div>

                        <input type="submit" value="Submit" class="btn btn-primary">
                    </form>
                </div>
            </div>

            <div class="col-12 col-lg-6 d-flex align-items-center">
                <div class="image-container">
                    <img src="pexels-helena-lopes-711009.jpg" alt="Image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>



    <script>

        function validateEmail() {
            var emailInput = document.getElementById('email');
            var emailError = document.getElementById('email-error');
            var emailValue = emailInput.value.trim();

            // Define the regex pattern for email validation
            var emailPattern = /^[A-Za-z0-9._-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/;

            if (emailValue.length === 0 || !emailPattern.test(emailValue)) {
                emailError.innerHTML = 'Email is required or invalid.';
                emailInput.classList.add('is-invalid');
                emailInput.classList.remove('is-valid');
                setTimeout(function () {
                    emailError.innerHTML = '';
                    emailInput.classList.remove('is-invalid');
                }, 2000); // Set the delay to 3000 milliseconds (3 seconds)
                return false;
            } else {
                emailError.innerHTML = '';
                emailInput.classList.add('is-valid');
                emailInput.classList.remove('is-invalid');
            }
        }


        function validateName() {
            var nameInput = document.getElementById('name');
            var nameError = document.getElementById('name-error');
            var nameValue = nameInput.value.trim();

            if (nameValue.length === 0) {
                nameError.innerHTML = 'Name is required or invalid.';
                nameInput.classList.add('is-invalid');
                nameInput.classList.remove('is-valid');
                setTimeout(function () {
                    nameError.innerHTML = '';
                    nameInput.classList.remove('is-invalid');
                }, 2000); // Set the delay to 3000 milliseconds (3 seconds)
                return false;
            } else {
                nameError.innerHTML = '';
                nameInput.classList.add('is-valid');
                nameInput.classList.remove('is-invalid');
            }
        }


        function validateMobile() {
            var mobileInput = document.getElementById('mobile');
            var mobileError = document.getElementById('mobile-error');
            var mobileValue = mobileInput.value.trim();

            if (mobileValue.length != 10) {
                mobileError.innerHTML = 'Mobile number must be exactly 10 digits';
                mobileInput.classList.add('is-invalid');
                mobileInput.classList.remove('is-valid');
                setTimeout(function () {
                    mobileError.innerHTML = '';
                    mobileInput.classList.remove('is-invalid');
                }, 2000); // Set the delay to 3000 milliseconds (3 seconds)
                return false;
            } else {
                mobileError.innerHTML = '';
                mobileInput.classList.add('is-valid');
                mobileInput.classList.remove('is-invalid');
            }
        }



        function validateForm() {
            validateName();
            validateEmail();
            validateMobile();

            var invalidInputs = document.querySelectorAll('.is-invalid');
            if (invalidInputs.length > 0) {
                return false;
            }

            return true;
        }
    </script>
</body>

</html>